body {
    font-family:Mona-Sans;
}

h1{
    text-align:center;
    font-weight:600;
    color:wheat;
}
.register_form{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white
}
.register_form form{
    
}
.form-group{
    margin-bottom:20px;

}
.register_content {
    background-color: #211f50;
    width: 400px;
    padding-top: 20px;
    border-radius:15px;
}
.create_btn{
    margin-left:30%;

}
.create_btn input{
    padding:8px 40px;
}