html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
    background: #151527;
}

.home-title {
    background: #151527;
}
.home-title h1 {
        color: #FFFFFF;
        font-family: Mona-Sans;
        font-weight: 700;

}
.Nft_page table{
    color:#ffffff;
}

