@page
@model NFTMarketViewRazorPages.Pages.View.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/SignUp.css" asp-append-version="true" />
</head>
<h1>Register</h1>


<hr />
<div class="row register_form">
    <div class="col-md-4 register_content">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" placeholder="Enter your email..." />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" placeholder="Enter your password..."/>
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Username" class="control-label"></label>
                <input asp-for="Account.Username" class="form-control" placeholder="Enter your username..." />
                <span asp-validation-for="Account.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Fullname" class="control-label"></label>
                <input asp-for="Account.Fullname" class="form-control" placeholder="Enter your fullname..." />
                <span asp-validation-for="Account.Fullname" class="text-danger"></span>
            </div>
            
            <div class="form-group create_btn">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


