@page
@model NFTMarketViewRazorPages.Pages.NftPictures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="color:white">Create</h1>

<h4 style="color:white">NftPicture</h4>
<hr />
<div style="color:white" class="row">
    <div style="color:white" class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NftPicture.NftId" class="control-label"></label>
                <input asp-for="NftPicture.NftId" class="form-control" />
                <span asp-validation-for="NftPicture.NftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NftPicture.NftName" class="control-label"></label>
                <input asp-for="NftPicture.NftName" class="form-control" />
                <span asp-validation-for="NftPicture.NftName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NftPicture.Description" class="control-label"></label>
                <input asp-for="NftPicture.Description" class="form-control" />
                <span asp-validation-for="NftPicture.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NftPicture.Price" class="control-label"></label>
                <input asp-for="NftPicture.Price" class="form-control" />
                <span asp-validation-for="NftPicture.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NftPicture.Image" class="control-label"></label>
                <input hidden asp-for="Image" class="form-control" />
                <label>NFT picture</label>
                <div>
                    <input type="file" id="profile-picture" name="profilePicture" accept="image/*" onchange="loadFile(event)" />
                    <img id="nft_image" src="" />
                </div>
                <span asp-validation-for="NftPicture.Image" class="text-danger"></span>
            </div>
            @*<div class="input-box pfp-file-field">
                <label>Profile picture</label>
                <div class="upload-button-container">
                    <label for="profile-picture" class="upload-button">Choose a file</label>
                </div>
                <input type="file" id="profile-picture" name="profilePicture" accept="image/*" onchange="loadFile(event)" required />
                <img id="preview-pfp" />
            </div>*@
            <div class="form-group">
                <label asp-for="NftPicture.CategoryId" class="control-label"></label>
                <input asp-for="NftPicture.CategoryId" class="form-control" />
                <span asp-validation-for="NftPicture.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>
    var loadFile = function (event) {
        var image = document.getElementById('nft_image');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

